# 2017 NBA Players Dataset Exploration

In this practice case, we will do some exploration on 2017 NBA Players dataset. The original dataset consists of records from 1950 season all the way to 2017 season. We will answer some key questions.

In [1]:
#import libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

from sklearn import preprocessing

In [2]:
#load the dataset
df = pd.read_csv('https://raw.githubusercontent.com/Syukrondzeko/Fellowship-5/main/Seasons_Stats.csv', index_col=0)

In [3]:
df.head()

     Year           Player  Pos   Age   Tm  ...  STL  BLK  TOV     PF    PTS
0  1950.0  Curly Armstrong  G-F  31.0  FTW  ...  NaN  NaN  NaN  217.0  458.0
1  1950.0     Cliff Barker   SG  29.0  INO  ...  NaN  NaN  NaN   99.0  279.0
2  1950.0    Leo Barnhorst   SF  25.0  CHS  ...  NaN  NaN  NaN  192.0  438.0
3  1950.0       Ed Bartels    F  24.0  TOT  ...  NaN  NaN  NaN   29.0   63.0
4  1950.0       Ed Bartels    F  24.0  DNN  ...  NaN  NaN  NaN   27.0   59.0

[5 rows x 52 columns]

Since we will only explore records on 2017 season, we select only rows from 2017 season.

In [4]:
#Make a subset of 2017 season
df17 = df[df['Year'] == 2017]

In [5]:
df17.head()

         Year        Player Pos   Age   Tm  ...   STL   BLK    TOV     PF    PTS
24096  2017.0  Alex Abrines  SG  23.0  OKC  ...  37.0   8.0   33.0  114.0  406.0
24097  2017.0    Quincy Acy  PF  26.0  TOT  ...  14.0  15.0   21.0   67.0  222.0
24098  2017.0    Quincy Acy  PF  26.0  DAL  ...   0.0   0.0    2.0    9.0   13.0
24099  2017.0    Quincy Acy  PF  26.0  BRK  ...  14.0  15.0   19.0   58.0  209.0
24100  2017.0  Steven Adams   C  23.0  OKC  ...  88.0  78.0  146.0  195.0  905.0

[5 rows x 52 columns]

The NBA allows for in-season player trade, hence there are players who play for multiple teams in a season. Those players would then have multiple entries on this dataset. To simplify our work, we will only use the first row for each of those players. To do that, we use dataframe.drop_duplicates()

In [6]:
#Drop duplicates (players who switch team in-season)
df17.drop_duplicates(subset='Player', inplace=True)
df17 = df17.reset_index()

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [7]:
df17.head()

   index    Year         Player Pos   Age  ...   STL   BLK    TOV     PF    PTS
0  24096  2017.0   Alex Abrines  SG  23.0  ...  37.0   8.0   33.0  114.0  406.0
1  24097  2017.0     Quincy Acy  PF  26.0  ...  14.0  15.0   21.0   67.0  222.0
2  24100  2017.0   Steven Adams   C  23.0  ...  88.0  78.0  146.0  195.0  905.0
3  24101  2017.0  Arron Afflalo  SG  31.0  ...  21.0   7.0   42.0  104.0  515.0
4  24102  2017.0  Alexis Ajinca   C  28.0  ...  20.0  22.0   31.0   77.0  207.0

[5 rows x 53 columns]

Note: Players who play for multiple teams have multiple entries: one for each team, and one more row with the team column is filled with ‘TOT’. The “TOT rows” are to show the total (combined) stats for those players from their multiple teams. The dataframe.drop_duplicates() function only leaves the “TOT rows” for those players, and dropping the real teams rows. To simplify our work, we will treat ‘TOT’ as a separate team. Thus, all players who switch team mid-season will be treated as player of TOT team. It also implies that there are 31 teams in this exploration, instead of 30 that NBA actually has.

In [8]:
df17.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 486 entries, 0 to 485
Data columns (total 53 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   index   486 non-null    int64
 1   Year    486 non-null    float64
 2   Player  486 non-null    object
 3   Pos     486 non-null    object
 4   Age     486 non-null    float64
 5   Tm      486 non-null    object
 6   G       486 non-null    float64
 7   GS      486 non-null    float64
 8   MP      486 non-null    float64
 9   PER     486 non-null    float64
 10  TS%     485 non-null    float64
 11  3PAr    485 non-null    float64
 12  FTr     485 non-null    float64
 13  ORB%    486 non-null    float64
 14  DRB%    486 non-null    float64
 15  TRB%    486 non-null    float64
 16  AST%    486 non-null    float64
 17  STL%    486 non-null    float64
 18  BLK%    486 non-null    float64
 19  TOV%    485 non-null    float64
 20  USG%    486 non-null    float64
 21  blanl   0 non-null      float64
 22  OWS     486 non-null    float64
 23  DWS     486 non-null    float64
 24  WS      486 non-null    float64
 25  WS/48   486 non-null    float64
 26  blank2  0 non-null      float64
 27  OBPM    486 non-null    float64
 28  DBPM    486 non-null    float64
 29  BPM     486 non-null    float64
 30  VORP    486 non-null    float64
 31  FG      486 non-null    float64
 32  FGA     486 non-null    float64
 33  FG%     485 non-null    float64
 34  3P      486 non-null    float64
 35  3PA     486 non-null    float64
 36  3P%     450 non-null    float64
 37  2P      486 non-null    float64
 38  2PA     486 non-null    float64
 39  2P%     484 non-null    float64
 40  eFG%    485 non-null    float64
 41  FT      486 non-null    float64
 42  FTA     486 non-null    float64
 43  FT%     471 non-null    float64
 44  ORB     486 non-null    float64
 45  DRB     486 non-null    float64
 46  TRB     486 non-null    float64
 47  AST     486 non-null    float64
 48  STL     486 non-null    float64
 49  BLK     486 non-null    float64
 50  TOV     486 non-null    float64
 51  PF      486 non-null    float64
 52  PTS     486 non-null    float64
dtypes: float64(49), int64(1), object(3)
memory usage: 201.4+ KB

In [9]:
#Drop 2 blank columns
df17.drop(['blanl','blank2'],axis=1,inplace=True)

In [10]:
df17.head()

   index    Year         Player Pos   Age  ...   STL   BLK    TOV     PF    PTS
0  24096  2017.0   Alex Abrines  SG  23.0  ...  37.0   8.0   33.0  114.0  406.0
1  24097  2017.0     Quincy Acy  PF  26.0  ...  14.0  15.0   21.0   67.0  222.0
2  24100  2017.0   Steven Adams   C  23.0  ...  88.0  78.0  146.0  195.0  905.0
3  24101  2017.0  Arron Afflalo  SG  31.0  ...  21.0   7.0   42.0  104.0  515.0
4  24102  2017.0  Alexis Ajinca   C  28.0  ...  20.0  22.0   31.0   77.0  207.0

[5 rows x 51 columns]

# 1. Youngest and oldest players of each teams

In [11]:
#Sort the values from oldest to youngest. The drop_duplicates will drop non-oldest players for every team.
oldest = df17.sort_values('Age', ascending=False).drop_duplicates(['Tm'])
df_oldest = oldest[['Tm','Player','Pos','Age']].sort_values('Tm').reset_index()
df_oldest.drop(['index'], axis=1, inplace=True)

#Sort the values from youngest to oldest. The drop_duplicates will drop non-youngest players for every team.
youngest = df17.sort_values('Age', ascending=True).drop_duplicates(['Tm'])
df_youngest = youngest[['Tm','Player','Pos','Age']].sort_values('Tm').reset_index()
df_youngest.drop(['index'], axis=1, inplace=True)

#Merge the oldest and youngest players dataframe using inner join.
old_young = pd.merge(df_oldest, df_youngest, on='Tm', how='inner')
old_young.columns = [['Tm', 'Oldest Player', 'Pos', 'Oldest Age', 'Youngest Player', 'Pos', 'Youngest Age']]
old_young

     Tm    Oldest Player Pos  ...          Youngest Player Pos Youngest Age
0   ATL        Gary Neal  SG  ...    Taurean Waller-Prince  SF         22.0
1   BOS     Gerald Green  SF  ...             Jaylen Brown  SF         20.0
2   BRK       Luis Scola  PF  ...         Isaiah Whitehead  PG         21.0
3   CHI      Dwyane Wade  SG  ...             Bobby Portis  PF         21.0
4   CHO    Brian Roberts  PG  ...           Christian Wood  PF         21.0
5   CLE   Chris Andersen   C  ...               Kay Felder  PG         21.0
6   DAL    Dirk Nowitzki  PF  ...               Ben Bentil  PF         21.0
7   DEN      Mike Miller  SF  ...             Jamal Murray  SG         19.0
8   DET       Beno Udrih  PG  ...          Stanley Johnson  SF         20.0
9   GSW       David West   C  ...             Kevon Looney   C         20.0
10  HOU     Nene Hilario   C  ...           Chinanu Onuaku   C         20.0
11  IND     Aaron Brooks  PG  ...             Myles Turner   C         20.0
12  LAC      Paul Pierce  SF  ...            Diamond Stone   C         19.0
13  LAL      Metta World  SF  ...              Ivica Zubac   C         19.0
14  MEM     Vince Carter  SF  ...            Deyonta Davis   C         20.0
15  MIA    Udonis Haslem   C  ...          Justise Winslow  SF         20.0
16  MIL      Jason Terry  SG  ...               Thon Maker   C         19.0
17  MIN       John Lucas  PG  ...               Tyus Jones  PG         20.0
18  NOP     Jarrett Jack  PG  ...            Cheick Diallo  PF         20.0
19  NYK  Carmelo Anthony  SF  ...       Kristaps Porzingis  PF         21.0
20  OKC    Nick Collison  PF  ...         Domantas Sabonis  PF         20.0
21  ORL      C.J. Watson  PG  ...        Stephen Zimmerman   C         20.0
22  PHI   Tiago Splitter   C  ...  Timothe Luwawu-Cabarrot  SF         21.0
23  PHO   Tyson Chandler   C  ...            Derrick Jones  SF         19.0
24  POR      Evan Turner  SF  ...              Noah Vonleh  PF         21.0
25  SAC    Arron Afflalo  SG  ...     Georgios Papagiannis   C         19.0
26  SAS    Manu Ginobili  SG  ...          Dejounte Murray  PG         20.0
27  TOR       Kyle Lowry  PG  ...             Jakob Poeltl   C         21.0
28  TOT      Matt Barnes  SF  ...         Chris McCullough  PF         21.0
29  UTA      Joe Johnson  SF  ...               Trey Lyles  PF         21.0
30  WAS    Marcin Gortat   C  ...              Kelly Oubre  SF         21.0

[31 rows x 7 columns]

# 2. Players with most minute-played per position

In [12]:
#Sort the values from most minute-played. The drop_duplicates will drop non-most-playing players for every position.
df_mostplay = df17.sort_values('MP', ascending=False).drop_duplicates(['Pos'])
df_mostplay[['Pos','Player','Tm','MP']].sort_values('Pos')

      Pos              Player   Tm      MP
432     C  Karl-Anthony Towns  MIN  3030.0
27     PF     Harrison Barnes  DAL  2803.0
253  PF-C   Joffrey Lauvergne  TOT   980.0
171    PG        James Harden  HOU  2947.0
461    SF      Andrew Wiggins  MIN  3048.0
287    SG       C.J. McCollum  POR  2796.0

# 3. Team with best stats

Best total rebound percentage

In [13]:
#Group by team, find the mean of TRB%, sort the value from the highest, show the top row.
df17.groupby('Tm')['TRB%'].mean().sort_values(ascending=False).head(1)

Tm
WAS    13.45
Name: TRB%, dtype: float64

Best assist percentage

In [14]:
#Group by team, find the mean of AST%, sort the value from the highest, show the top row.
df17.groupby('Tm')['AST%'].mean().sort_values(ascending=False).head(1)

Tm
DEN    15.86
Name: AST%, dtype: float64

Best steal percentage

In [15]:
#Group by team, find the mean of STL%, sort the value from the highest, show the top row.
df17.groupby('Tm')['STL%'].mean().sort_values(ascending=False).head(1)

Tm
MIN    2.371429
Name: STL%, dtype: float64

Best block percentage

In [16]:
#Group by team, find the mean of BLK%, sort the value from the highest, show the top row.
df17.groupby('Tm')['BLK%'].mean().sort_values(ascending=False).head(1)

Tm
GSW    2.74
Name: BLK%, dtype: float64

# 4. Player of the Year

To find out the best player of 2017 season, we use the following formula:

Ovr = 2*TS% + 2*AST% + 1.5*TRB% + STL% + BLK% + MP

where:
Ovr = overall score

TS% = True shooting percentage; a measure of shooting efficiency that takes into account field goals, 3-point field goals, and free throws.

AST% = Assist percentage

TRB% = Total rebound percentage

STL% = Steal percentage

BLK% = Block percentage

MP = minutes played

Note: all features are normalized using MinMaxScaler before being plugged-in to the overall score calculation.

Why are those variables selected to calculate player’s overall score? Here are some reasonings. TS% and AST% are given top priority, because basketball is ultimately about scoring as many as possible, so the efficiency of shooting and assist should be priority. TRB% is given second highest weight because rebound is a component of triple-double. STL% and BLK% are included to measure player’s defensive performance. MP is included because best players need to contribute as many playing time as possible to their team. It is also to make sure that the high scoring percentage (and other percentages) are maintained consistently throughout a long period of time.

In [17]:
#Total scoring percentage values are written in different form compard to other percentage stats, so we adjust the format
df17['TS%'] = df17['TS%']*100

In [18]:
#Fill missing value with 0.
x = df17[['TS%','AST%','TRB%','STL%','BLK%','MP']].fillna(0)

#Apply MinMaxScaler to said features
min_max_scaler = preprocessing.MinMaxScaler()
x_scaled = min_max_scaler.fit_transform(x)
df17_ovr_norm = pd.DataFrame(x_scaled, columns=('TS%','AST%','TRB%','STL%','BLK%','MP'))

df17_ovr_norm

          TS%      AST%      TRB%      STL%      BLK%        MP
0    0.700876  0.095986  0.079787  0.153153  0.034682  0.345914
1    0.707134  0.085515  0.195035  0.108108  0.115607  0.182803
2    0.737171  0.094241  0.251773  0.162162  0.150289  0.783722
3    0.699625  0.129145  0.081560  0.063063  0.023121  0.518215
4    0.662078  0.054101  0.283688  0.153153  0.179191  0.191336
..        ...       ...       ...       ...       ...       ...
481  0.755945  0.158813  0.228723  0.162162  0.173410  0.565802
482  0.635795  0.212914  0.234043  0.063063  0.190751  0.171972
483  0.433041  0.092496  0.312057  0.081081  0.213873  0.035117
484  0.629537  0.106457  0.141844  0.081081  0.086705  0.276337
485  0.684606  0.141361  0.253546  0.099099  0.254335  0.199541

[486 rows x 6 columns]

In [19]:
#Adding player, team, and position columns to the calculation dataframe
df17_ovr_norm['Player'] = df17['Player']
df17_ovr_norm['Tm'] = df17['Tm']
df17_ovr_norm['Pos'] = df17['Pos']
df17_ovr_norm = df17_ovr_norm[['Player','Tm','Pos','TS%','AST%','TRB%','STL%','BLK%','MP']]

#Perform the overall rating calculation
df17_ovr_norm['Ovr'] = 2*df17_ovr_norm['TS%'] + 2*df17_ovr_norm['AST%'] \
                            + 1.5*df17_ovr_norm['TRB%'] + df17_ovr_norm['STL%']\
                            + df17_ovr_norm['BLK%'] + df17_ovr_norm['MP']
df17_ovr_norm

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

                Player   Tm Pos  ...      BLK%        MP       Ovr
0         Alex Abrines  OKC  SG  ...  0.034682  0.345914  2.247154
1           Quincy Acy  TOT  PF  ...  0.115607  0.182803  2.284368
2         Steven Adams  OKC   C  ...  0.150289  0.783722  3.136657
3        Arron Afflalo  SAC  SG  ...  0.023121  0.518215  2.384278
4        Alexis Ajinca  NOP   C  ...  0.179191  0.191336  2.381569
..                 ...  ...  ..  ...       ...       ...       ...
481        Cody Zeller  CHO  PF  ...  0.173410  0.565802  3.073976
482       Tyler Zeller  BOS   C  ...  0.190751  0.171972  2.474269
483  Stephen Zimmerman  ORL   C  ...  0.213873  0.035117  1.849229
484        Paul Zipser  CHI  SF  ...  0.086705  0.276337  2.128878
485        Ivica Zubac  LAL   C  ...  0.254335  0.199541  2.585228

[486 rows x 10 columns]

So, without further ado, 2017 NBA Player of the Year according to our scoring system is... (drum roll please)

In [20]:
#Find out the best player of 2017 according to our calculation
df17_ovr_norm[df17_ovr_norm['Ovr'] == df17_ovr_norm['Ovr'].max()]

                Player   Tm Pos  ...      BLK%        MP       Ovr
457  Russell Westbrook  OKC  PG  ...  0.052023  0.919265  5.020016

[1 rows x 10 columns]

In [21]:
df17[df17['Player'] == 'Russell Westbrook']

     index    Year             Player Pos  ...   BLK    TOV     PF     PTS
457  24654  2017.0  Russell Westbrook  PG  ...  31.0  438.0  190.0  2558.0

[1 rows x 51 columns]

# 5. Team of the Year
We use the same formula from previous section and find the average for entire teams.

In [22]:
#Group by team, find the mean of Ovr, sort the value from the highest, show the top five row.
df17_ovr_norm.groupby('Tm').mean('Ovr').sort_values('Ovr',ascending=False).head()

          TS%      AST%      TRB%      STL%      BLK%        MP       Ovr
Tm
GSW  0.712307  0.243630  0.202600  0.156156  0.158382  0.422470  2.952783
DEN  0.709136  0.276789  0.187943  0.169369  0.055106  0.399190  2.877431
SAS  0.700954  0.260035  0.171764  0.136261  0.110188  0.405912  2.831985
BOS  0.701293  0.254334  0.183688  0.123123  0.086320  0.431878  2.828108
HOU  0.699047  0.223788  0.173077  0.148302  0.092486  0.447022  2.793096

The champ, Golden State Warriors rank highest on our scoring system.